<a href="https://colab.research.google.com/github/Aidi379/Python_fundamental/blob/main/8.%20For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Let's define a python list that contains 4 different company names - A, B, C, and D
company_names = ['Company A', 'Company B', 'Company C', 'Company D']
company_names

['Company A', 'Company B', 'Company C', 'Company D']

In [2]:
# Now we want to print all company names listed in "company_names" list
# We can repeat the print function several times as shown below
# This strategy involves writing many lines of code that perform the same "print" operation
# Recall that python lists start with index = 0
print(company_names[0])
print(company_names[1])
print(company_names[2])
print(company_names[3])

Company A
Company B
Company C
Company D

In [3]:
# Alternatively, we can use loops to generate the same output
# We can loop over company_names list and print them to the screen using for loops
# Note that "i" is a temporary variable that is used within the "For" loop to carry company names
for i in company_names:
    print(i)

Company A
Company B
Company C
Company D

In [4]:
# We can also loop over a Python list that contains integers or floating points
# Let's define another python list that contains revenues from companies listed in "company_names" list
# i.e.: Company A revenue is 600000
# i.e.: Company D revenue is 1100000
company_revenues = [600000, 900000, 1000000, 1100000]
company_revenues

[600000, 900000, 1000000, 1100000]

In [ ]:
# Let's loop over all company revenues and add them up
# We can do this using "For" loops as well

# Define an accumulator and initialize it to zero
total_revenue = 0

for i in company_revenues:
    total_revenue = total_revenue + i

total_revenue

3600000

In [ ]:
# Note that alternatively we can use the sum function to sum up all elements in the list
sum(company_revenues)

3600000

In [ ]:
# We can also use "For" loops to iterate over characters of a Python string
message = 'Welcome to Python Programming Fundamentals Course'
for character in message:
    print(character)

W
e
l
c
o
m
e

t
o

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

F
u
n
d
a
m
e
n
t
a
l
s

C
o
u
r
s
e

**PRACTICE OPPORTUNITY:**
- **Write a python code that performs the following tasks:**
    - **1. Defines a list named "my_list" that contains the following values: 10, 5, 3**
    - **2. Multiplies all elements in the list using for loops**
    - **3. Confirm your answer by leveraging the multiplication operation defined in the math module [External Research is Required]**

In [6]:
my_list = [10,5,3]
my_list

[10, 5, 3]

In [7]:
result = 1

for i in my_list:
  result = result * i

print(result)

150

In [10]:
import math
math.prod(my_list)

150

# PRACTICE OPPORTUNITY SOLUTION

**PRACTICE OPPORTUNITY SOLUTION:**
- **Write a Python code that:**
    - **1. Defines a list named "my_list" that contains the following values: 10, 5, 3**
    - **2. Multiplies all elements in the list using For loops**
    - **3. Confirm your answer by leveraging the multiplication operation defined in the math module [External Research is Required]**

In [ ]:
# Define the python list
my_list = [10, 5, 3]

In [ ]:
# Initialize the accumulator to 1
product = 1

for i in my_list:
    product = product * i

product

150

In [ ]:
import math
math.prod(my_list)

150

# Excellent Job!