<a href="https://colab.research.google.com/github/Aidi379/Python_fundamental/blob/main/Handling_Missing_Data_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pandas is a data manipulation and analysis tool that uses a data structure known as DataFrame.
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows & columns).
# Import Pandas Library into the current environment
# "pd" is an alias of "Pandas"
import pandas as pd

In [ ]:
import pandas as pd

# Specify the new file path
file_path = 'D:\\george.docx'

# Read the CSV file into a pandas DataFrame
investor_df = pd.read_csv(file_path)

# Display the DataFrame
print(investor_df)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\george.docx'

In [ ]:
import os
#From ChatGPT

# Specify the file path
file_path = 'D:\\investors_data.csv'

# Check if the file exists
if os.path.exists(file_path):
    # Check if the current process has read permission for the file
    if os.access(file_path, os.R_OK):
        print("You have read permission for the file.")
    else:
        print("You do not have read permission for the file.")
else:
    print("The file does not exist.")

The file does not exist.

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df

FileNotFoundError: [Errno 2] No such file or directory: 'investors_data.csv'

In [ ]:
# Let's locate rows and columns that have Null values
# isnull() method returns a new DataFrame containing "True" in Null locations and "False" otherwise
investor_df.isnull()

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False

In [ ]:
# Let's see the total number of missing elements per column
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                1
Years with Investment Firm    1
Risk Tolerance                0
Goal                          0
dtype: int64

In [ ]:
# Drop any row that contains a Null value
# Note that the size of the dataframe has been reduced
investor_df.dropna(how = 'any', inplace = True)

In [ ]:
# Notice that rows 3 and 6 no longer exist!
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [ ]:
# Let's check if we still have any missing values
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                0
Years with Investment Firm    0
Risk Tolerance                0
Goal                          0
dtype: int64

In [ ]:
# Let's explore an alternative (smarter) method to deal with missing values
# Let's read the raw data again using Pandas as follows
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [ ]:
# Let's obtain a statistical summary using "describe()" method
investor_df.describe()

             Age  Portfolio Size  Years with Investment Firm
count   9.000000        8.000000                    8.000000
mean   40.111111   353183.625000                   11.000000
std    11.634479   377372.061973                    9.561829
min    23.000000     1500.000000                    1.000000
25%    32.000000    70389.500000                    4.250000
50%    40.000000   225705.000000                    9.000000
75%    50.000000   525900.750000                   15.500000
max    55.000000   950000.000000                   30.000000

In [ ]:
# Calculate the average portfolio size
investor_df['Portfolio Size'].mean()

353183.625

In [ ]:
# You can use .fillna() to fill missing locations with a certain value
investor_df['Portfolio Size'].fillna(investor_df['Portfolio Size'].mean(), inplace = True)

In [ ]:
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.000,5.0,aggressive,buy house
1,Sherif,George,54,950000.000,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.000,10.0,moderate,kids education
3,Victoria,Keller,43,300901.000,NaN,moderate,investment property
4,Sarah,Aly,26,41258.000,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.000,15.0,conservative,retire
6,Chris,Peter,38,353183.625,8.0,moderate,kids education
7,Nancy,Smith,55,900000.000,17.0,conservative,retire
8,Heidi,Smith,23,1500.000,1.0,moderate,retire early

**PRACTICE OPPORTUNITY:**
- **Complete the following tasks:**
    - **1. Import the 'investors_data.csv' dataset using Pandas**
    - **2. Calculate the median value for the "Years with Investment Firm" column**
    - **3. Fill in missing values in the "Years with Investment Firm" column with the median values**
    - **4. Perform a sanity check**

# PRACTICE OPPORTUNITY SOLUTION

**PRACTICE OPPORTUNITY SOLUTION:**
- **Complete the following tasks:**
    - **1. Import the 'investors_data.csv' dataset using Pandas**
    - **2. Calculate the median value for the "Years with Investment Firm" column**
    - **3. Fill in missing values in the "Years with Investment Firm" column with the median values**
    - **4. Perform a sanity check**

In [ ]:
# Read the data
import pandas as pd
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [ ]:
# Let's locate rows that have Null values
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                1
Years with Investment Firm    1
Risk Tolerance                0
Goal                          0
dtype: int64

In [ ]:
# Calculate the median value for "Years with Investment Firm" column
investor_df['Years with Investment Firm'].median()

9.0

In [ ]:
# Use .fillna() method to fill a given column with a certain value
investor_df['Years with Investment Firm'].fillna(investor_df['Years with Investment Firm'].median(), inplace = True)

In [ ]:
# Perform a sanity check
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                1
Years with Investment Firm    0
Risk Tolerance                0
Goal                          0
dtype: int64

In [ ]:
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,9.0,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

# EXCELLENT JOB!